body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #000;
  color: rgb(230, 240, 240);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 67px;
}

.container1 {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  padding: 0 4rem;
  align-items: center;
  gap: 5rem;
  border-right: 1px solid #aca2a2;
}
.container1 .calendar {
  background-color: rgb(230, 240, 240);
  border: 4px solid #aca2a2;
  border-radius: 2px;
  color: #000;
  padding: 0.5rem 1.7rem;
  font-size: 15px;
  font-weight: 600;
}
.container1 img {
  height: 30px;
  width: 30px;
  border: 2px solid #aca2a2;
  border-radius: 100%;
  margin-left: auto;
}

.container2 {
  padding-right: 20px;
}
.container2 ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  gap: 2rem;
}
.container2 ul li:nth-child(1) {
  padding: 5px;
}
.container2 ul i {
  color: rgb(230, 240, 240);
  padding: 5px;
  font-size: 20px;
}

/*first navbar*/
@media (max-width: 830px) {
  .header {
    font-size: 15px;
    display: block;
    height: fit-content;
    padding: 0px;
    margin: 0 auto;
  }
  .container1 {
    width: 100%;
    border: none;
    border-bottom: 2px solid #aca2a2;
    gap: 7px;
    padding: 10px 0px;
  }
  .container1 .calendar {
    padding: 5px;
    font-weight: 100;
    width: fit-content;
  }
  .container2 ul {
    gap: 20px;
    padding: 0px;
  }
}
.navbar {
  height: fit-content;
  width: 100%;
}

.navbar-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 15%;
}
.navbar-container i {
  font-size: 30px;
}
.navbar-container img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: 2px solid #aca2a2;
}
.navbar-container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 20%;
}

a {
  text-decoration: none;
  color: #000;
}

@media (max-width: 650px) {
  .navbar .navbar-left {
    display: none;
  }
}
.main-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.content-box {
  width: 30rem;
  background-color: #aca2a2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15% 1%;
  border-radius: 20px;
}
.content-box p {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 50px;
  padding: 3px 1rem;
  background-color: #e18a27;
  color: rgb(230, 240, 240);
}
.content-box ul {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  color: rgb(230, 240, 240);
  font-weight: 600;
  font-size: 15px;
  background-color: rgb(230, 240, 240);
  color: #000;
  padding: 1rem 10px;
  border-radius: 20px;
}

.content-box:nth-child(1) {
  background-image: url("../images/food.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.content-box:nth-child(2) {
  background-image: url("../images/travel.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.content-box:nth-child(3) {
  background-image: url("../images/tech.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.content-box:nth-child(4) {
  background-image: url("../images/beach.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.content-box:nth-child(5) {
  background-image: url("../images/cloth.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 615px) and (max-width: 1100px) {
  .content-box:nth-child(-n+2) {
    width: 25%;
    font-size: 30px;
    padding: 8rem 70px;
  }
  .content-box:nth-child(n+3):nth-child(-n+5) {
    width: 15%;
    font-size: 20px;
    padding: 5rem 40px;
  }
}
@media (min-width: 1101px) {
  .content-box:nth-child(-n+2) {
    width: 40%;
    font-size: 30px;
    padding: 8rem 70px;
  }
  .content-box:nth-child(n+3):nth-child(-n+5) {
    width: 25%;
    font-size: 20px;
    padding: 5rem 40px;
  }
}
.trending-content {
  width: 100%;
  margin: 10px;
}

.trending-container1 {
  width: 97%;
  background-color: #000;
  color: rgb(230, 240, 240);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.trending-container1 hr {
  border: 2px solid rgb(230, 240, 240);
  width: 100%;
  margin: 20px;
}
.trending-container1 .trending-head {
  background-color: #000;
  margin: 0px;
  position: relative;
  top: -35px;
  padding: 3px 20px;
}
.trending-container1 .trending-box:nth-of-type(n+2):nth-of-type(-n+3) {
  width: 30%;
  padding: 1rem;
  margin: auto;
}
.trending-container1 .trending-box:nth-of-type(n+2):nth-of-type(-n+3) img {
  width: 100%;
  height: 20rem;
  border-radius: 3px;
}
.trending-container1 .trending-box:nth-of-type(n+2):nth-of-type(-n+3) h2 {
  display: inline-block;
  font-weight: 600;
  font-size: 20px;
}
.trending-container1 .trending-box:nth-of-type(1) {
  margin: 10px;
  padding: 1.2rem;
  background-image: url("../images/flower.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 90%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
.trending-container1 .trending-box:nth-of-type(1) p {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 50px;
  padding: 3px 1rem;
  background-color: #e18a27;
  color: rgb(230, 240, 240);
  width: fit-content;
}
.trending-container1 .trending-box:nth-of-type(1) ul {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  color: rgb(230, 240, 240);
  font-weight: 600;
  font-size: 15px;
  background-color: rgb(230, 240, 240);
  color: #000;
  padding: 1rem 10px;
  border-radius: 20px;
}

.trending-container2 {
  width: 97%;
}
.trending-container2 .trending-box:nth-of-type(1) {
  background-image: url("../images/family.jpeg");
  padding: 1.2rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 90%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
.trending-container2 .trending-box:nth-of-type(1) p {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 50px;
  padding: 3px 1rem;
  background-color: #e18a27;
  color: rgb(230, 240, 240);
  width: fit-content;
}
.trending-container2 .trending-box:nth-of-type(1) ul {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  color: rgb(230, 240, 240);
  font-weight: 600;
  font-size: 15px;
  background-color: rgb(230, 240, 240);
  color: #000;
  padding: 1rem 10px;
  border-radius: 20px;
}
.trending-container2 .trending-box:nth-child(n+2):nth-child(-n+5) {
  display: flex;
  gap: 10px;
}
.trending-container2 .trending-box:nth-child(n+2):nth-child(-n+5) .trending-title {
  width: 60%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.trending-container2 .trending-box:nth-child(n+2):nth-child(-n+5) img {
  height: 10rem;
  width: 35%;
  border-radius: 2px;
  margin: 10px;
}

@media (min-width: 700px) {
  .trending-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .trending-container1 {
    width: 48%;
  }
  .trending-container1 .trending-box:nth-of-type(n+2):nth-of-type(-n+3) img {
    height: 200px;
  }
  .trending-container2 {
    width: 48%;
    margin: 20px;
  }
  .trending-container2 .trending-head {
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-size: 40px;
  }
  .trending-container2 .trending-box:nth-of-type(n+2):nth-of-type(-n+5) img {
    height: 125px;
  }
}
.scroll-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.scroll-content .scroll-box {
  height: 100%;
}
.scroll-content .scroll-box p {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 50px;
  padding: 3px 1rem;
  background-color: #e18a27;
  color: rgb(230, 240, 240);
  width: fit-content;
}
.scroll-content .scroll-box ul {
  list-style: none;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  color: rgb(230, 240, 240);
  font-weight: 600;
  font-size: 15px;
  background-color: rgb(230, 240, 240);
  color: #000;
  padding: 0.7rem 10px;
  border-radius: 20px;
}
.scroll-content .scroll-box:nth-child(1) {
  background-image: url("../images/pink.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.scroll-content .scroll-box:nth-child(2) {
  background-image: url("../images/beach.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.scroll-content .scroll-box:nth-child(3) {
  background-image: url("../images/flower.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.scroll-content .scroll-box:nth-child(4) {
  background-image: url("../images/family.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 700px) {
  .scroll-content {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    height: 500px;
  }
  .scroll-box {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

/*# sourceMappingURL=main.css.map */
