@use "_variables" as *
.main-content
    width: 100%
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
    gap: 20px
.content-box
    width: 30rem
    background-color: $grey
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 15% 1%
    border-radius: 20px
    p
        border-top-right-radius: 10px
        border-bottom-right-radius: 10px
        border-bottom-left-radius: 50px
        padding: 3px 1rem
        background-color: $orange
        color: $white
    ul
        list-style: none
        display: flex
        gap: 20px
        justify-content: center
        align-items: center
        color: $white
        font-weight: 600
        font-size: 15px
        background-color: $white
        color: $black
        padding: 1rem 10px
        border-radius: 20px

.content-box:nth-child(1)
    background-image: url("../images/food.jpeg")
    background-repeat: no-repeat
    background-size: cover
.content-box:nth-child(2)
    background-image: url("../images/travel.jpeg")
    background-repeat: no-repeat
    background-size: cover
.content-box:nth-child(3)
    background-image: url("../images/tech.jpeg")
    background-repeat: no-repeat
    background-size: cover
.content-box:nth-child(4)
    background-image: url("../images/beach.jpeg")
    background-repeat: no-repeat
    background-size: cover
.content-box:nth-child(5)
    background-image: url("../images/cloth.jpeg")
    background-repeat: no-repeat
    background-size: cover


@media (min-width: 615px) and (max-width: 1100px )
    .content-box:nth-child(-n+2)
        width: 25%
        font-size: 30px
        padding: 8rem 70px
    .content-box:nth-child(n+3):nth-child(-n+5)
        width: 15%
        font-size: 20px
        padding: 5rem 40px
@media (min-width: 1101px)
    .content-box:nth-child(-n+2)
        width: 40%
        font-size: 30px
        padding: 8rem 70px
    .content-box:nth-child(n+3):nth-child(-n+5)
        width: 25%
        font-size: 20px
        padding: 5rem 40px